.title {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
  font-size: 20px;
}
.title2 {
  margin: 0;
  color: white;
  font-size: 20px;
  text-align: center;
}
.titleContainer {
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 8px;
  padding-right: 8px;
}
.navcontainer {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
}

.folderTab {
  padding-top: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 90px;
  color: white;
  cursor: pointer;
}
.folderTabContainer {
  display: flex;
  gap: 14px;
}

.folderTab:hover {
  color: rgb(255, 238, 0);
}

.MainContenContainer {
  margin-top: 16px;
}
.center {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 120px);
}
.WelcomeText {
  color: white;
  font-size: 50px;
}
